
.flip-card {
    background-color: transparent;
    width: 250px;
    height: 300px;
    perspective: 1000px;
    margin-top: 25px;
  }
  
  .flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color:black;
    transform: rotateY(180deg);
    text-align: center;
    padding-top: 60px;
  }
  
  .container{
      padding-top: 100px;
  }

  p{
    color: white;
    font-size: 100px;
    font-weight: 900;
  }
  .row
  {
      height: 350px;
  }

  .grabbing {cursor: -webkit-grabbing; cursor: grabbing;}